@import common
@import colors
@import player
@import svg-card

@font-face
  font-family: 'Super Mario 256'
  src: url('../fonts/sm.ttf')

*
  pointer-events: none

@mixin button-menu($color)
  border: none
  outline: none
  appearance: none
  border-radius: 4vmin
  padding: 1.2vmin 0 0.6vmin 0
  width: 100%
  color: rgba(white, 0.8)
  letter-spacing: 0.4vmin
  font-family: inherit
  font-size: 4vmin
  background: linear-gradient(to bottom, darken($color, 1), darken($color, 20))
  box-shadow: 0 1px 1px 0 rgba(white, 0.4) inset, 0 -1px 1px 0 rgba(black, 0.2) inset, 0 0.5vmin 0.5vmin 0 rgba(black, 0.2)
  pointer-events: all
  cursor: pointer
  @include shadow(darken($color, 10), 7, 4)

  &.active
    color: rgba(white, 0.6)
    background: linear-gradient(to top, $color, darken($color, 20))
    box-shadow: 0 -0.1vmin 0.2vmin 0 rgba(white, 0.6) inset, 0 0.2vmin 0.4vmin 0 rgba(black, 0.4) inset
    @include shadow(darken($color, 10), 5, 6)

  &.disabled
    opacity: 0.2
    color: $color
    background: linear-gradient(to top, darken($color, 1), darken($color, 20))
    box-shadow: 0 -0.4vmin 0.8vmin 0 rgba(white, 0.6) inset, 0 0.4vmin 0.8vmin 0 rgba(black, 0.3) inset
    @include shadow(darken($color, 10), 5, 6)
    pointer-events: none

\:root
  --card-size: 0vmin
  --card-gap: 1vmin

html, body
  pointer-events: none

main
  margin: 0
  padding: 0
  width: 100%
  height: 100%
  position: relative
  background-color: $color2
  pointer-events: none

  .bubbles
    top: 0
    left: 0
    right: 0
    bottom: 0
    position: absolute
    background: url("../background-pattern.jpeg")
    mix-blend-mode: screen
    pointer-events: none
  //animation: bubbles infinite 240s linear

  > .game
    top: 0
    left: 0
    right: 0
    bottom: 0
    position: absolute
    display: grid
    grid-template: 10vmin 1fr 10vmin / 10vmin 1fr 10vmin
    pointer-events: none

    > .play-field
      grid-area: 2 / 2
      border-radius: 3vmin
      background-color: darken($color1, 4)
      box-shadow: 0 0 3vmin 0 rgba(black, 0.4) inset, 0 0 1vmin 0 rgba(black, 0.3) inset, 0 0 1.5vmin 0 rgba(white, 0.7)
      pointer-events: none
      position: relative
      overflow: hidden
      display: flex
      align-items: center
      justify-content: center

      > div.menu
        top: 50%
        left: 50%
        width: 36vmin
        border-radius: 5vmin
        transform: translate(-50%, -50%)
        background: linear-gradient(to top, rgba($color1, 0.8), rgba($color1, 0.6))
        box-shadow: 0 1vmin 1vmin 0 rgba(white, 0.5) inset, 0 -1vmin 1vmin 0 rgba(black, 0.25) inset
        position: absolute
        align-items: center
        display: flex
        flex-direction: column
        row-gap: 2vmin
        padding: 4vmin

        > h1
          color: lighten($color2, 8)
          margin: 2vmin 0
          font-size: 6vmin
          text-align: center
          letter-spacing: 0.8vmin
          @include shadow(lighten($color2, 40), 7, 7)

        > button.menu-button
          @include button-menu($color2)

          &.start
            margin: 3vmin 0 0 0
            @include button-menu($color4)

        &.start
          &.manual
            margin: 0 0 3vmin 0
            @include button-menu($color1)


        &.manual
          p
            margin: 0
            padding: 0
            font-family: Verdana, sans-serif
            font-size: 2vmin

          button
            @include button-menu($color2)

      > div.cards
        margin: auto
        display: flex
        flex-direction: column
        perspective: 800px
        gap: var(--card-gap)
        pointer-events: none
        transform-style: preserve-3d
        align-items: center
        justify-content: center
        position: relative

        @media (orientation: portrait)
          transform: rotate(90deg)

        > div.row
          display: flex
          flex-direction: row
          gap: var(--card-gap)
          transform-style: preserve-3d
          pointer-events: none
          position: relative